@model Gov.Dva.Ogc.Data.Accreditation.Web.Model.WebForm21a

      	<div class="field_section" id="section_5"  style="display: none">
	  		<h3>Legal</h3>
	  		<div class="row">
	  			<div class="col-md-12">
	  				<div class="question">
	  					<span class="question_number">11A.</span> Are you currently a member in good standing of the bar of the highest court of a state or territory of the United States?<span class="required">*</span></div>
	  				<div style="display:inline-block; padding-top: 10px; margin-left: 20px">
                    
						<div class="radio_label">Yes</div>
                        @Html.RadioButtonFor(model => model.IsBarMember, true)

	  					<div class="radio_label">No</div>
                        @Html.RadioButtonFor(model => model.IsBarMember, false, new {@checked = "checked" })                          
	  				</div>
	  				
	  			</div>
	  		</div>
	  		<div class="row sub_question" id="jurisdiction_section" style="display: none">
	  			<div class="col-md-12">
	  				<div class="question">
	  					<div class="question_number">11B.</div> If "Yes", list each jurisdiction in which admitted, the date of adminssion, and membership or registration number.
	  				</div>
                    <div id="jurisdictionDiv">
                        <div class="row" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px">
                            <div class="col-md-5">
                                Jurisdiction in which admitted<span class="required">*</span>
                            </div>
                            <div class="col-md-4">
                                Date of Admission<span class="required">*</span>
                            </div>
                            <div class="col-md-3">
                                Membership No.<span class="required">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" id="addJurisdiction" class="addChildLink">Add Jurisdiction</a>
                            </div>

                        </div>
                        @Html.EditorFor(model => Model.WebForm21aBarMembership)

                    </div>



	  				
	  			</div> 
	  		</div>

	  		<div class="row">
	  			<div class="col-md-12">
	  				<div class="question">
	  					<span class="question_number">12A.</span> Are you currently admitted to practice before any state or federal agency or any federal court?<span class="required">*</span></div>
                    <div style="display:inline-block; padding-top: 10px; margin-left: 20px">
						<div class="radio_label">Yes</div>
                        @Html.RadioButtonFor(model => model.IsPracticing, true)

	  					<div class="radio_label">No</div>
                        @Html.RadioButtonFor(model => model.IsPracticing, false, new {@checked = "checked" }) 
	  				</div>
	  			</div>
	  		</div>
	  		<div class="row sub_question" id="practice_section" style="display: none">
	  			<div class="col-md-12">
	  				<div class="question">
	  					<div class="question_number">12B.</div> If "Yes", list each agency or federal court to which admitted, the date of admission, and membership or registration number.
	  				</div>
                    <div id="agencyDiv">
                        <div class="row" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px">
                            <div class="col-md-5">
                                Agency/Court in which admitted<span class="required">*</span>
                            </div>
                            <div class="col-md-4">
                                Date of Admission<span class="required">*</span>
                            </div>
                            <div class="col-md-3">
                                Membership No.<span class="required">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" id="addAgency" class="addChildLink">Add Agency/Court</a>
                            </div>

                        </div>
                        @Html.EditorFor(model => Model.WebForm21aPracticeMembership)

                    </div>
	  				
	  			</div> 
	  		</div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-default btn-lg" onclick="navigation_click(5)">Previous</button>

                        <button type="button" class="btn btn-primary btn-lg" onclick="navigation_click(6)">Next</button>
                </div>
            </div>

	  		

	  	</div>
