@model Gov.Dva.Ogc.Data.Accreditation.Web.Model.WebForm21a

        <div class="field_section" id="section_2">

	  	<h3>
	  		My Information
	  	</h3>

        <div class="row">
            <div class="col-md-6">
                <label><span class="question_number">1.</span> Name</label><span class="required">*</span>
                @Html.ValidationMessageFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                <div class="sublabel">First Name</div>

            </div>
            <div class="col-md-6">
                <label>Phone</label><span class="required">*</span>@Html.ValidationMessageFor(model => model.HomePhoneNo)
                <div>@Html.TextBoxFor(model => model.HomePhoneNo, new { @class = "form-control" })</div>

                <div class="sublabel">Area Code
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.MiddleName)
                <div>@Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control"})</div>
                <div class="sublabel">Middle Name</div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.LastName)
                <div>@Html.TextBoxFor(model => model.LastName, new { @class = "form-control"})</div>
                <div class="sublabel">Last Name</div>
            </div>
            <div class="col-md-6">
                <label>Email Address</label><span class="required">*</span>@Html.ValidationMessageFor(model => model.HomeEmailAddr)
                <div>@Html.TextBoxFor( model => model.HomeEmailAddr, new { @class = "form-control" })</div>

            </div>
        </div>
        <div class="row">
            <div>&nbsp</div>
            <div class="col-md-6">
                <label><span class="question_number">2a.</span> Home Address</label><span class="required">*</span>
                @Html.ValidationMessageFor(model => model.HomeAddress1)
                <div>@Html.TextBoxFor( model => model.HomeAddress1, new { @class = "form-control" })</div>
                <div class="sublabel">Street Address</div>
            </div>
            <div class="col-md-4">
                <label>Date of Birth</label><span class="required">*</span>@Html.ValidationMessageFor(model => model.BirthDate)
                <div>@Html.TextBoxFor( model => model.BirthDate, new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>@Html.TextBoxFor( model => model.HomeAddress2, new { @class = "form-control" })</div>
                <div class="sublabel">&nbsp</div>
               
                <div class="row">

                    <div class="col-md-6">
                        <div>@Html.TextBoxFor( model => model.HomeCity, new { @class = "form-control" })</div>
                        <div class="sublabel">City</div>
                    </div>
                    <div class="col-md-2">
                        <div>@Html.TextBoxFor( model => model.HomeState, new { @class = "form-control" })</div>
                        <div class="sublabel">State</div>
                    </div>
                    <div class="col-md-4">
                        <div>@Html.TextBoxFor( model => model.HomeZip, new { @class = "form-control" })</div>
                        <div class="sublabel">Zip</div>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <label>Place of Birth</label><span class="required">*</span> @Html.ValidationMessageFor(model => model.BirthLocation)
                <div>@Html.TextBoxFor( model => model.BirthLocation, new { @class = "form-control" })</div>
                <div class="sublabel">Birth City, County and State</div>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12">
            @Html.ValidationMessageFor(model => model.HomeCity)<br />
            @Html.ValidationMessageFor(model => model.HomeState)<br />
            @Html.ValidationMessageFor(model => model.HomeZip)<br />
            </div>
        </div>


            <div>
			    <div class="row">
				    <div class="col-md-12 form-group">
					    <label>List Dates of all active military service</label>
                       
                        <div id="serviceBranchDiv">
                            @Html.EditorFor(model => model.WebForm21aServiceBranch)
                    
                            @Html.ValidationMessageFor(model => model.WebForm21aServiceBranch)
                        </div>
                        <a href="#" id="addServiceBranch">Add Period of Service</a>
                    </div>
			    </div>

            </div>

            <div class="row">
                <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-default btn-lg" onclick="navigation_click(2)">Previous</button>

                        <button type="button" class="btn btn-primary btn-lg" onclick="navigation_click(3)">Next</button>
                </div>

 	  	    </div>

        </div>
