@model Gov.Dva.Ogc.Data.Accreditation.Web.Model.WebForm21a

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}



<div id="accred_heading">
    <h2>Accreditation</h2>
</div>
  	

<div>
    @Html.Partial("_chevronMenu")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    	<div class="field_section" id="section_1" style="display: none">
            <h3>
                Instructions
            </h3>
		  	<div class="instructions">
		  		<p>Please provide the applicable personal and employment data, then read each question and provide complete answers to all questions that apply to you. If additional space is needed, please attach a supplementary page(s). After providing all of the requested information, sign and date your application. Unsigned or uncomplete applications will not be processed. Send completed applications to: Department of Veteran Affairs, Office of the General Counsel (022D), 810 Vermont Avenue, NW, Washington, D.C. 20420.</p>
                   <p>After an affirmative determination of character and fitness for practice before the VA, claims agent applicants must achieve a score of 75 percent or more on a written examination administered VA as a prerequisite to acreditation. Claims agent applications will be given written instructions for arranging to take the examination if initial eligibility is established. Attorney applicants must be in good standing with a State bar and are not required to take an examination administered by VA as a prerequisite to accreditation. Denials of initial elibibility for accreditation as a claims agent or attorney are final and are not subject to appeal, but applicants may reapply. </p>
		  	</div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-primary btn-lg" onclick="navigation_click(2)">Next</button>
                </div>
            </div>

        </div>
    
        <!-- MyInfo -->
    
        @*
        @Html.Partial("_MyInfo", new Gov.Dva.Ogc.Data.Accreditation.Web.WebForm21a()) 
    
	  	*@
    
        @Html.Partial("_MyInfo", Model)     
    
	  	<!-- Employment -->
    
        @Html.Partial("_Employment", Model)

    
	  	<!-- Education -->
    
        @Html.Partial("_Education", Model)
    

    	  	
	  	<!-- Legal -->

        @Html.Partial("_legal", Model)
	  	
		<!-- Background -->

        @Html.Partial("_Background", Model)

        <div class="field_section" id="section_7"  style="display: none">
        <!-- References -->

        @Html.EditorFor(model => model.WebForm21aReference)

            <div class="row">
                <div class="col-md-12">
                    <input type="submit"  value="Submit Form" id="submitBtn" class="btn btn-success"/>
                    <!-- class="btn btn-success" -->
                </div>
            </div>

        </div>

}




@*section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*
    @RenderSection("scripts",false)*
}*@

