@model Gov.Dva.Ogc.Data.Accreditation.Web.WebForm21aEducation

@{
    Layout = null;
}

      
		<div class="collection_box">
	  		<div class="row">
                @{ 
                    String controlName = Html.NameFor(model => model.Institution).ToString();
                    Int32 brackPos = controlName.IndexOf("[");
                    Int32 eCount = Convert.ToInt32(controlName.Substring(brackPos + 1, 1)) + 1;
                    }
	  			<div class="col-md-4">
                    <span class="employer_title">Educational Institution #@eCount</span> 
	  			</div>
                <div class="col-md-8">
                    <div class="divider"></div>	
                </div>

                <div>&nbsp;</div>

	  		</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
                        <label>Name of Institution</label>
                        @Html.TextBoxFor(model => model.Institution, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Institution)
                    </div>
                    <div class="form-group">                    
					    <label>Address</label>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
						
				</div>
				<div class="col-md-6">
					<div class="form-group">
                        <label>Dates Attended</label>
                        @Html.TextBoxFor(model => model.DatesAttended, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.DatesAttended)
                    </div>
                    <div class="form-group">
				        <label>Degree Received/Major</label>
                        @Html.TextBoxFor(model => model.DegreeRecived, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.DegreeRecived)
                    </div>
				</div>
								
			</div>
				
		</div>


