@model Gov.Dva.Ogc.Data.Accreditation.Web.Model.WebForm21aServiceBranch

@{
    Layout = null;
}
    

        <div class="row"> 

                <div class="col-md-8 form-group">
                    <div>
                        Army
                    </div>
                    <div >
                        @Html.EditorFor(model => model.IsArmy)                
                        @Html.ValidationMessageFor(model => model.IsArmy)
                    </div>

                    <div>
                        Navy
                    </div>
                    <div>
                    @Html.EditorFor(model => model.IsNavy)
                    @Html.ValidationMessageFor(model => model.IsNavy)
                    </div>

                    <div>
                        Air Force
                    </div>
                    <div>
                        @Html.EditorFor(model => model.IsAirForce)                
                        @Html.ValidationMessageFor(model => model.IsAirForce)
                    </div>


                    <div>
                        Marines
                    </div>
                    <div>
                        @Html.EditorFor(model => model.IsMarines)                
                        @Html.ValidationMessageFor(model => model.IsMarines)
                    </div>
                    <div>
                        Coast Guard
                    </div>
                    <div>
                        @Html.EditorFor(model => model.IsCoastGuard)                
                        @Html.ValidationMessageFor(model => model.IsCoastGuard)
                    </div>

                    <div>
                        Non-Veteran
                    </div>
                    <div>
                        @Html.EditorFor(model => model.IsNonVeteran)                
                        @Html.ValidationMessageFor(model => model.IsNonVeteran)
                    </div>


                    <div>
                        Other
                    </div>
                    <div>
                        @Html.EditorFor(model => model.IsOther)                
                        @Html.ValidationMessageFor(model => model.IsOther)
                    </div>
                    <div>
                        Other Service
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.OtherService, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.OtherService)
                    </div>


        </div>

