@model Gov.Dva.Ogc.Data.Accreditation.Web.Model.WebForm21aBarMembership

@{
    Layout = null;
}

                @{ 
                    String controlName = Html.NameFor(model => model.Jurisdiction).ToString();
                    Int32 brackPos = controlName.IndexOf("[");
                    Int32 jCount = Convert.ToInt32(controlName.Substring(brackPos + 1, 1)) + 1;
                    }
            
            <div class="row jurisdictionRow">
                <div class="col-md-12">
                    <div class="row">
                
                            <div class="col-md-12">Jurisdiction #@jCount.ToString()</div>
                
                    </div>
	  		        <div class="row">
	  			        <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Jurisdiction, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Jurisdiction)
	  			        </div>
	  			
	  			        <div class="col-md-4">
                        @Html.TextBoxFor(model => model.AdmissionDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AdmissionDate)

	  			        </div>
	  			        <div class="col-md-3">
                        @Html.TextBoxFor(model => model.MembershipNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MembershipNo)

	  			        </div>
	  		        </div>

                </div>
            </div>
   
    
    
    
