@model Gov.Dva.Ogc.Data.Accreditation.Web.WebForm21aEmployer

@{
    Layout = null;
}

	  	<div class="collection_box">
	  		<div class="row">

	  			<div class="col-md-2">
                    <span class="employer_title">Employer #x</span> 
	  			</div>
                <div class="col-md-10">
                    <div class="divider"></div>	
                </div>

                <div>&nbsp;</div>

	  		</div>

	  		<div class="row">
		  		<div class="col-md-6 form-group">
		  			<label>Name of Employer</label><span class="required">*</span>
	  				@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                    <span class="sublabel">Eg. Google, Walmart, Department of Veteran Affairs</span>
                </div>
                <div class="col-md-6 form-group">
					<label>Employer Phone</label>		
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNo)                
                    <span class="sublabel">(area code)-xxx-xxx</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"> 
                    <div class="form-group">
					    <label>Name of Supervisor</label><span class="required">*</span>	  			
                        @Html.TextBoxFor(model => model.Supervisor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Supervisor)
                    </div>
                    <div class="form-group">
					    <label>Position Title</label><span class="required">*</span>		
                        @Html.TextBoxFor(model => model.PositionTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PositionTitle)
                    </div>
					<label>Dates of Employment</label><br><span class="required">*</span>
					<div style="width: 50px; display: inline-block">From: </div>
					
                    @Html.TextBoxFor(model => model.DateRangeEmpBegin, new { @class = "form-control", @style = "display: inline-block; width: 100px" })
                    @Html.ValidationMessageFor(model => model.DateRangeEmpBegin)
					<div style="width: 50px; display: inline-block">To: </div> 		  			
                    @Html.TextBoxFor(model => model.DateRangeEmpEnd, new { @class = "form-control", @style = "display: inline-block; width: 100px"  })
                    @Html.ValidationMessageFor(model => model.DateRangeEmpEnd)	
		  		</div>
		  		<div class="col-md-6">	


		  			<label>Employer Address</label><span class="required">*</span>
	  				@Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                    <span class="sublabel">Streed Address, City, State, Zip</span>


		  		</div>		 
  			
			
	  		</div>
	  			
	  		<div class="row">
	  			<div class="col-md-12">
	  				<div class="divider"></div>	
                    <div>&nbsp;</div>
	  			</div>
	  		</div>
	  	</div>

    
  
